[submodule "raditian-free-hugo-theme"]
	path = raditian-free-hugo-theme
	url = git@github.com:tkrishnan91/raditian-free-hugo-theme.git
[submodule "themes/raditian-free-hugo-theme"]
	path = themes/raditian-free-hugo-theme
	url = git@github.com:tkrishnan91/raditian-free-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:tkrishnan91/tkrishnan91.github.io.git
