{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">
                        <div class="row">


                        </div>

                        <div class="row pt-4">
                            <div class="col-12">
                              <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                              <span>{{ .Site.Data.homepage.contact.phone.number }}
                                <br>
                                <br>
                              </span>

                              <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                              <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}
                              <br>
                              <br>
                              </span>
                              <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                              <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                              <!-- {{ .Site.Data.homepage.contact.button.URL | absURL }} -->
                                <!-- <button type="submit" onclick="location.href = {{ .Site.Data.homepage.contact.button.URL | absURL }};" class="btn btn-primary">

                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    {{ .Site.Data.homepage.contact.button.btnText }}
                                </button> -->
                                <a
                                  href="{{ .Site.Data.homepage.contact.button.URL | absURL }}"
                                  class="btn btn-primary"
                                >
                                  <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                  {{ .Site.Data.homepage.contact.button.btnText }}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="col-12 col-lg-5 contact__info">
                    <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.phone.number }}</span>
                    <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                </div> -->


            </div>
        </div>
    </div>
</section>
{{ end }}
